.wiggle {
    animation-name: wiggle;
    transform-origin: center;
    animation-timing-function: var(--animate-easing, ease-in-out);
    animation-duration: var(--animate-duration, 600ms);
}

@keyframes wiggle {
    0% { transform: rotate(var(--animate-angle, -2deg)); }
    50% { transform: rotate(var(--animate-angle, 2deg)); }
    100% { transform: rotate(var(--animate-angle, -2deg)); }
}

