.grow {
  animation-name: grow;
  animation-fill-mode: both;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(var(--animate-scale, 1));
  }
}

