.shrink {
  animation-name: shrink;
  animation-fill-mode: both;
}

@keyframes shrink {
  0% {
    opacity: 0;
    transform: scale(var(--animate-scale, 1.2));
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

