.reveal {
  animation-name: reveal;
  animation-fill-mode: both;
  transform-origin: left center;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
