.heartBeat {
    animation-name: heartBeat;
    animation-timing-function: var(--animate-easing, ease-in-out);
    animation-duration: calc(var(--animate-duration) * 1.3);
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.3);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(1);
    }
}
  
