.poke {
    animation-name: poke;
    transform-origin: center bottom;
    animation-timing-function: var(--animate-easing, ease-in-out);
    animation-duration: var(--animate-duration, 800ms);
}

@keyframes poke {
    0%, 100% { transform: scaleY(1); }
    50% { transform: scaleY(var(--animate-scale, 0.95)); }
}

