.pulse {
    animation-name: pulse;
    animation-timing-function: var(--animate-easing, ease-in-out);
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

