@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(var(--animate-scale, 0.3), var(--animate-scale, 0.3), var(--animate-scale, 0.3));
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}