.lightspeedOutRight {
  animation-name: lightspeedOutRight;
  animation-timing-function: var(--animate-easing, ease-in);
}

@keyframes lightspeedOutRight {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}


