@keyframes lightspeedOutLeft {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
}

.lightspeedOutLeft {
  animation-name: lightspeedOutLeft;
  animation-timing-function: var(--animate-easing, ease-in);
}
