@keyframes revealOut {
    from {
        max-height: var(--animate-distance, 1000px);
    }

    to {
        max-height: 0;
    }
}

.revealOut {
    overflow: hidden;
    animation-name: revealOut;
    animation-timing-function: var(--animate-easing, ease-in);
    animation-duration: calc(var(--animate-duration) * 0.25);
}