@keyframes revealIn {
    from {
        max-height: 0;
    }

    to {
        max-height: var(--animate-distance, 1000px);
    }
}

.revealIn {
    overflow: hidden;
    animation-name: revealIn;
    animation-timing-function: var(--animate-easing, ease-out);
    animation-duration: calc(var(--animate-duration) * 0.25);
}