.blurIn {
  animation-name: blur-in;
  animation-fill-mode: both;
}

@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(var(--animate-intensity, 10px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
