@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(var(--animate-distance, 100%), 0, 0);
    }
}

.slideOutRight {
    animation-name: slideOutRight;
}