@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, var(--animate-distance, 100%), 0);
    }
}

.slideOutDown {
    animation-name: slideOutDown;
}