@keyframes slideInRight {
    from {
        transform: translate3d(var(--animate-distance, 100%), 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation-name: slideInRight;
}