.flip,
.flipX {
  animation-name: flip-x;
  animation-fill-mode: both;
  transform-origin: center;
  perspective: 1000px;
}

.flipY {
  animation-name: flip-y;
}

@keyframes flip-x {
  0% {
    opacity: 0;
    transform: rotateX(var(--animate-angle, 90deg));
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes flip-y {
  0% {
    opacity: 0;
    transform: rotateY(var(--animate-angle, 90deg));
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

